@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .animatingUI {
        @apply ease-in-out duration-300;
    }
    .formLabel {
        @apply my-2 uppercase font-bold;
    }
    .formNumber {
        @apply bg-bgGray border border-buttonBlue rounded-lg inline-block p-2.5 uppercase;
    }
    .formSelect {
        @apply bg-bgGray border border-buttonBlue rounded-lg block w-full p-2.5 uppercase;
    }
    .formButton {
        @apply border border-buttonBlue text-buttonBlue bg-bgGray py-1 px-2 rounded 
                hover:bg-buttonBlue hover:text-bgGray transition-colors duration-200
                font-bold border-2;
    }
    .form {
        @apply absolute bg-bgGray text-wiseNavyBlue animatingUI p-10 rounded-xl shadow-2xl 
    }
}

/* Map Container Element */
.rsm-svg {
    width: 99vw;
    height: 99vh;
    background-color: #ffffff;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #f2f5f7;
}
::-webkit-scrollbar-thumb {
    background:#37517e;
    border-radius: 10px;
    margin: 1px;
}
::-webkit-scrollbar-thumb:hover {
    background:  #37517e;
    border-radius: 10px;
}